@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

// Color Palette
// Primary
$primary-color: #ca2626;
$primary-color-dark: #780606;
$primary-color-light: #8a3d3d;

//Secondary
$secondary-color: #26c954;
$secondary-color-dark: #3d744d;

// Extended
$background-color: #031602;
$text-color: #faf9f6;
$accent-color: #faf9f6;
$error-color: #d40000;

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mexico-theme {
  background-color: $background-color;
  font-family: "Roboto Slab", sans-serif;

  .fc-gray {
    color: color.adjust($text-color, $lightness: -40%, $space: hsl);
  }

  .bg-black {
    background-color: $background-color;
  }

  .bg-white {
    background-color: $accent-color;
  }

  .border-black {
    border-color: $background-color;
  }
}

@keyframes button-lift {
  0% {
    transform: translateY(0) scale(1);
    box-shadow: 8px 8px 0 $background-color;
  }
  100% {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
      12px 12px 0 $background-color,
      0 0 12px rgba($primary-color, 0.6);
  }
}

@keyframes button-reset {
  0% {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
      12px 12px 0 $background-color,
      0 0 12px rgba($primary-color, 0.6);
  }
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 8px 8px 0 $background-color;
  }
}
