@keyframes pop-in {
  0% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes pop-out {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
}

.country-label {
  height: 50px;
  animation: pop-in 0.3s ease-out forwards;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.hide {
    animation: pop-out 0.3s ease-in forwards;
  }
}

.title-country {
  transition: font-size 0.2s ease;
  &:hover {
    font-size: 24px;
  }
}

.fc-white {
  color: whitesmoke;
}

.font-anton {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
