@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

// Color Palette
// Primary
$primary-color: #2d2a4a;
$primary-color-dark: #120e31;
$primary-color-light: #5d5699;

//Secondary
$secondary-color: #f4e589;
$secondary-color-dark: #948b53;

// Extended
$background-color: #120e31;
$text-color: #faf9f6;
$accent-color: #faf9f6;
$error-color: #d40000;

.thailand-theme {
  background-color: $background-color;

  .fc-gray {
    color: color.adjust($text-color, $lightness: -40%, $space: hsl);
  }

  .bg-black {
    background-color: $background-color;
  }

  .bg-white {
    background-color: $accent-color;
  }

  .border-black {
    border-color: $background-color;
  }
}

@keyframes button-lift {
  0% {
    transform: translateY(0) scale(1);
    box-shadow: 8px 8px 0 $background-color;
  }
  100% {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
      12px 12px 0 $background-color,
      0 0 12px rgba($primary-color, 0.6);
  }
}

@keyframes button-reset {
  0% {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
      12px 12px 0 $background-color,
      0 0 12px rgba($primary-color, 0.6);
  }
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 8px 8px 0 $background-color;
  }
}
