$color-primary: #ca2626;
$color-primary-dark: #780606;
$color-secondary: #006847;

@font-face {
  font-family: "Rubik Distressed";
  /* src: url("./assets/fonts/RubikDistressed-Regular.ttf") format("truetype"); */
  src: url("./assets/fonts/RubikDirt-Regular.ttf") format("truetype");
  /* src: url("./assets/fonts/Nosifer-Regular.ttf") format("truetype"); */
  /* src: url("./assets/fonts/NewRocker-Regular.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}

.title-massive {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 80px;
}

.title-1 {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 64px;
}

.title-2 {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 24px;
}

.title-3 {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 16px;
}

// Primary color classes
.color-primary {
  color: $color-primary;
}
