$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@font-face {
  font-family: "Rubik Distressed";
  src: url("./assets/fonts/RubikDirt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title-main {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 32px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 64px;
  }
}

.subtitle {
  font-family: "Rubik Distressed", sans-serif;
  font-size: 24px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 56px;
  }
}

.button-font {
  font-size: 1rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 2rem;
  }
}

.body-text {
  font-size: 12px;
  

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
  
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 18px;
   
  }
}
