$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// Global reset to remove default white margins around the page
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title-main {
  // font-family: "Roboto Slab", sans-serif;
  // font-weight: Bold;
  font-size: 32px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 64px;
  }
}

.subtitle {
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  font-weight: bold;

  @media (min-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 56px;
  }
}

.button-font {
  font-size: 1rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 2rem;
  }
}

.body-text {
  font-size: 12px;
  

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
  
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 18px;
   
  }
}
