@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@font-face {
  font-family: "Roboto Slab";
  src: url("../../styles/Mexico/assets/fonts/RobotoSlab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
